@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');

body {
  margin: 0;
  padding:0;
  font-family: Artifika, sans-serif;
}
.main {
  flex-direction: column;
  display: flex;
  height: 100vh;

  .top {
    display: flex;
    flex: 0 0 60%;
    flex-direction: row;
    overflow: hidden;

    .box-1 {
      background: #77BCFD;
      flex: 0 0 50%;
      position: relative;

      .box-1-container {
        max-height: 100%;
        overflow: auto;
        padding: .5rem 2rem;
      }

    }
    .drag-x {
      background: linear-gradient(360deg, gray 50%, white 100%);
      cursor: col-resize;
      flex: 0 0 8px;
      transition: .2s;

      &:hover {
        background: rgba(0, 0, 0, 0.685);
      }
    }
    .box-2 {
      background: url(./assets/img/web-5348016_1920.jpg) center/cover;
      flex: 1;
    }
  }

  .drag-y {
    background: linear-gradient(90deg, gray 55%, white 100%);
    cursor: row-resize;
    caret-color: auto;
    flex: 0 0 8px;
    z-index: 10;

    &:hover {
      background: rgba(0, 0, 0, 0.685);
    }
  }
  .bottom {
    background: #c4ada0;
    flex: 1;
    overflow: hidden;

    .bottom-container {
      max-height: 100%;
      overflow: auto;
      display: flex;

      h3 {
        padding: 3rem;
      }

      p {
        padding: 3.5rem;
      }
    }
  }
}
